{% extends 'base.ecole.html.twig' %}

{% block title %}Classe!{% endblock %}

{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}

{% block body %}

<h3 >Classes</h3>

    {{form(formulaire)}}
    

{% endblock %}