{% extends 'base.ecole.html.twig' %}

{% block title %}Classe!{% endblock %}

{% block body %}
<h3>Classes</h3>
<a href="" class="btn btn-primary">Ajouter une classe</a>
<div class="card">
    <div class="card-body">
    </div>
</div>
{% endblock %}