{% extends 'base.ecole.html.twig' %}

{% block title %}Modifier la note{% endblock %}

{% block body %}
    <h3>Modifier la Classe</h3>
    <div class="card">
        <div class="card-body">
            {% form_theme formulaire "bootstrap_5_layout.html.twig" %}
            {{ form(formulaire)}}
        </div>
    </div>
{% endblock %}