{% extends 'base.ecole.html.twig' %}

{% block title %} IMPORTER {% endblock %}

{% block body %}
<div class="card" width="70%">
    <div class="card-body">
        {% form_theme formulaire 'bootstrap_5_layout.html.twig' %}
       
            {{form(formulaire)}}

    </div>
</div>

{% endblock %}